<<<<<<< HEAD
<% include userlayout.ejs %>
=======
>>>>>>> ac57006e9f822a066802c8b12ab191cdf8746e3b
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello</title>
  </head>
  <body>

<<<<<<< HEAD
    <table class="table table-dark table-hover">
      <tr>
        <th>Sno</th>
=======
    <table border=2>
      <tr>
>>>>>>> ac57006e9f822a066802c8b12ab191cdf8746e3b
        <th>HackId</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone</th>
        <th>institution</th>
        <th>Refer</th>
      </tr>
      <% for(var i=0; i<data.length; i++) { %>
      <tr>
<<<<<<< HEAD
          <td><%= i+1 %></td>
=======
>>>>>>> ac57006e9f822a066802c8b12ab191cdf8746e3b
          <td><%= data[i]._id %></td>
          <td><%= data[i].name %></td>
          <td><%= data[i].gender %></td>
          <td><%= data[i].email %></td>
          <td><%= data[i].phone %></td>
          <td><%= data[i].institution %></td>
          <td><%= data[i].refer %></td>
      </tr>
      <% } %>

    </table>
  </body>
</html>
